---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href} class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py- bg-blue-600 font-bold text-white">
    <slot></slot>
</button>